{% load static %}
<!-- bottom -->
<div class="clear mt-20"></div>
<div class="bottom1">
    <div class="row pt-20">
        <div class="col-md-4">
            <div class="pl-20 pb-20">
                <div class="bottom2">HỖ TRỢ KHÁCH HÀNG</div>
                <div class="pt-10">  
                    <div><a class="link" href="{% url 'bottom:bao-hanh-va-doi-tra' %}">Bảo hành và đổi trả</a></div>
                    <div class="pt-15"><a class="link" href="{% url 'bottom:chinh-sach-ban-hang' %}">Chính sách bán hàng</a></div>
                    <div class="pt-15"><a class="link" href="{% url 'bottom:chinh-sach-giao-hang' %}">Chính sách giao hàng</a></div>
                    <div class="pt-15"><a class="link" href="{% url 'bottom:quy-dinh-va-hinh-thuc-thanh-toan' %}">Quy định & hình thức thanh toán</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pl-20 pb-20">
                <div class="bottom2">THÔNG TIN HỢP TÁC</div>
                <div class="pt-10">  
                    <div><a class="link" href="{% url 'bottom:huong-dan-mua-hang' %}">Hướng dẫn mua hàng</a></div>
                    <div class="pt-15"><a class="link" href="{% url 'bottom:quy-che-hoat-dong' %}">Quy chế hoạt động</a></div>
                    <div class="pt-15"><a class="link" href="{% url 'bottom:tuyen-dung' %}">Tuyển dụng</a></div>
                    <div class="pt-15"><a class="link" href="{% url 'contact:contact' %}">Liên hệ</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pl-20 pb-20">
                <div class="bottom2">THÔNG TIN LIÊN HỆ</div>
                <div class="pt-10">           
                    {% for item in bottom %}
                        {{ item.body | safe }}
                    {% endfor %} 
                </div>
            </div>
        </div>                        
    </div>
    <div class="fr">
        <img class="bottom1_img" src="{% static 'img/visa.png' %}"/>
    </div>
</div>
<!---->
<!--copyright-->
<div class="copyright">
Copyright 2021 © xxx.com
</div>
<!---->