{% load static %}
<div class="top">
    
    <link rel="stylesheet" href="{% static '/menumobile/menu.css' %}" type="text/css" />
    <script src="{% static '/menumobile/menu.js' %}"></script>

    <div class="fl m-1">
        <div class="topnav" id="myTopnav">                
        <a href="javascript:void(0);" style="font-size:15px;" class="clicon" onclick="myFunction()">&#9776;</a> 
        <a class="pt-30">
        <a href="{% url 'home:home' %}">Trang chủ</a>
        <a href="{% url 'about:about' %}">Giới thiệu</a>
        <a href="{% url 'product:product' %}">Sản phẩm</a>
        <a href="{% url 'service:groupservice' %}">Dịch vụ</a>
        <a href="{% url 'news:news' %}">Tin tức</a>
        <a href="{% url 'contact:contact' %}">Liên hệ</a>
    </div>
        <div class="khacdauhaiduong">KHẮC DẤU HẢI DƯƠNG</div>
    </div>    
    <div class="fr m-1 pr-10 icon-top">
        <div>
            <a href="http://url" target="_blank" data-label="Facebook"  rel="noopener noreferrer nofollow" title="Follow on Facebook">
                <i class="icon-facebook" ><img src="{% static 'img/facebook.png' %}" height="16px"/></i></a>
            <a href="http://url" target="_blank" rel="noopener noreferrer nofollow" data-label="Instagram" title="Follow on Email">
                <i class="icon-instagram" ><img src="{% static 'img/email.png' %}" height="20px"/></i></a>
            <a href="tel:tel:0909 xxx xxx" target="_blank"  data-label="Twitter"  rel="noopener noreferrer nofollow" title="Call us">
                <i class="icon-twitter" ><img src="{% static 'img/phone1.png' %}" height="16px" class="icon-twitter"/></i></a>
            <!--<a href="mailto:your@email" data-label="E-mail"  rel="nofollow" title="Send us an email"><i class="icon-envelop" ><img src="{% static 'img/email.png' %}" width="20px"/></i></a>-->            
        </div>	    
    </div>
    <div class="fr m-1 pr-10">
        |
    </div>
    <div class="fr m-1 pr-10">
        <a href="{% url 'contact:contact' %}"><span class="color-white">Liên hệ</span></a>
    </div>
    <div class="fr m-1 pr-10">
        |
    </div>
    <div class="fr m-1 pr-10">
        <a href="{% url 'about:about' %}"><span class="color-white">Giới thiệu</span></a>
    </div>
</div>