{% load sanpham_filter %}
<div class="menu_left">    
    <div class="p-10">
        <div class="service_title">   
            <div>Sản phẩm nổi bật</div>            
        </div>       
    </div>
    <!--san pham noi bat-->
      <div class="clear">
            <div class="row m-1">
              {% if sp_noibat_left %}                 
                  {% for item in sp_noibat_left %}
                  <div class="col-10">
                      <div class="cl_sanpham" onmouseover="show_ct('lnbarrow{{item.id}}')" onmouseout="hide_ct('lnbarrow{{item.id}}')" onclick="location.href='{% url 'product:product' %}{% for nsp in item.nhomsanpham_id|getSlugNhomSanPham %}{{nsp.slug}}{% endfor %}/{{item.slug}}/'">
                        <div>{{child.tieude }}</div>
                        <img src="{{item.hinh.url}}" width="100%"/>
                        <!--<div class="arrow-right" id="lnbarrow{{item.id}}">
                          <span>Chi tiết</span>
                        </div>-->
                        <div>
                            {% if item.gia_chinh > 0 %}
                              {% if item.gia_khuyenmai > 0 %}<span class="gia_chinh1">{{item.gia_chinh}}</span> <span class="gia_khuyenmai">{{item.gia_khuyenmai}}</span>
                              {% else %}<span class="gia_chinh">{{item.gia_chinh}}</span>
                              {% endif %}
                            {% else %}
                                <div class="gia_lienhe">Liên hệ</div>    
                            {% endif %}
                        </div>
                      </div>
                  </div>
                  {% endfor %}
              {% endif %}
            </div>
      </div>
    <!--san pham moi-->
      <div class="p-10">
          <div class="service_title">   
              <div>Sản phẩm mới</div>            
          </div>       
      </div>
      <div class="clear">
            <div class="row m-1">
              {% if sp_moi_left %}                 
                  {% for item in sp_moi_left %}
                  <div class="col-10">
                      <div class="cl_sanpham" onmouseover="show_ct('lnbarrow{{item.id}}')" onmouseout="hide_ct('lnbarrow{{item.id}}')" onclick="location.href='{% url 'product:product' %}{% for nsp in item.nhomsanpham_id|getSlugNhomSanPham %}{{nsp.slug}}{% endfor %}/{{item.slug}}/'">
                        {{item.tieude }}
                        <img src="{{item.hinh.url}}" width="100%"/>
                        <!--<div class="arrow-right" id="lnbarrow{{item.id}}">
                          <span>Chi tiết</span>
                        </div>-->
                        <div>
                            {% if item.gia_chinh > 0 %}
                              {% if item.gia_khuyenmai > 0 %}<span class="gia_chinh1">{{item.gia_chinh}}</span> <span class="gia_khuyenmai">{{item.gia_khuyenmai}}</span>
                              {% else %}<span class="gia_chinh">{{item.gia_chinh}}</span>
                              {% endif %}
                            {% else %}
                                <div class="gia_lienhe">Liên hệ</div>    
                            {% endif %}
                        </div>
                      </div>
                  </div>
                  {% endfor %}
              {% endif %}
            </div>
      </div>
      <!--san pham khuyen mai-->
      <div class="p-10">
          <div class="service_title">   
              <div>Sản phẩm khuyến mãi</div>            
          </div>       
      </div>
      <div class="clear">
            <div class="row m-1">
              {% if sp_khuyenmai_left %}                 
                  {% for item in sp_khuyenmai_left %}
                  <div class="col-10">
                      <div class="cl_sanpham" onmouseover="show_ct('lnbarrow{{item.id}}')" onmouseout="hide_ct('lnbarrow{{item.id}}')" onclick="location.href='{% url 'product:product' %}{% for nsp in item.nhomsanpham_id|getSlugNhomSanPham %}{{nsp.slug}}{% endfor %}/{{item.slug}}/'">
                        {{item.tieude }}
                        <img src="{{item.hinh.url}}" width="100%"/>
                        <!--<div class="arrow-right" id="lnbarrow{{item.id}}">
                          <span>Chi tiết</span>
                        </div>-->
                        <div>
                            {% if item.gia_chinh > 0 %}
                              {% if item.gia_khuyenmai > 0 %}<span class="gia_chinh1">{{item.gia_chinh}}</span> <span class="gia_khuyenmai">{{item.gia_khuyenmai}}</span>
                              {% else %}<span class="gia_chinh">{{item.gia_chinh}}</span>
                              {% endif %}
                            {% else %}
                                <div class="gia_lienhe">Liên hệ</div>    
                            {% endif %}
                        </div>
                      </div>
                  </div>
                  {% endfor %}
              {% endif %}
            </div>
      </div>
</div>