{% extends 'home/base.html' %}

{% load static %}

{% block content %}
<div class="txt_content_news">
    <div class="service_title">Tin tức</div>
    <div class="row">
        <div class="col-8">
            {% if contacts %}        
              {% for item in contacts %}                
                <div class="row pt-10">
                  <div class="col-4">
                      <img src="{{item.hinh.url}}" style="width:200px;height:120px"/>
                  </div>
                  <div class="col-8">
                      <div><b>{{item.tieude }}</b></div>
                      <div class="pt-10">{{item.tomtat}}</div>                      
                  </div>                                    
                </div>
                <div class="row p-15">
                    {{item.noidung | safe}}
                </div>
              {% endfor %}
            {% endif %}
        </div>
        <div class="col-4">
            <div class="service_title_right">Các tin tức khác</div>
            {% if newsall %}        
              {% for item in newsall %}
                <div class="p-10">
                    <img src="{{item.hinh.url}}" style="width:150px;height:80px;padding:5px" align="left"/>
                    <div><a href="{% url 'news:news' %}{{item.slug}}"><b>{{item.tieude }}</b></a></div>
                    <div class="pt-10">{{item.tomtat}}</div>
                </div>
              {% endfor %}
            {% endif %}
        </div>
    </div>  
</div>
{% endblock content %}
