{% extends 'home/base.html' %}

{% load static %}

{% block content %}
<div class="txt_content_news">
    <div class="service_title">Dịch vụ - {% for item in nhomdichvu %}{{item.name}}{% endfor %}</div>
    <div class="row">        
        <div class="col-8">
            {% if dichvu %}        
              {% for item in dichvu %}
                <div class="row pt-10">
                  <div class="col-4">
                      <img src="{{item.hinh.url}}" style="width:200px;height:120px"/>
                  </div>
                  <div class="col-8">
                      <div><b>{{item.tieude }}</b></div>
                      <div class="pt-10">{{item.tomtat}}</div>                      
                  </div>                                    
                </div>
                <div class="row p-15">
                    {{item.noidung | safe}}
                </div>
              {% endfor %}
            {% endif %}
        </div>
        <div class="col-4">
            <div class="service_title_right">Các dịch vụ khác</div>
            {% if alldichvu %}        
              {% for item in alldichvu %}
                <div class="p-10">
                    <img src="{{item.hinh.url}}" style="width:150px;height:80px;padding:5px" align="left"/>
                    <div><a href="{% url 'service:service' item.id %}{{item.id}}"><b>{{item.tieude }}</b></a></div>
                    <div class="pt-10">{{item.tomtat}}</div>
                </div>
              {% endfor %}
            {% endif %}
        </div>
    </div>  
</div>
{% endblock content %}
